header
  a.settings(href='') settings
  a.mail(href='#', data-reveal-id="email") newsletter
  h1 
    | I've only got
    input(type='text', value='$20')
    | in my pocket
  #spin
  .toorich
    | You can swag out for less than that! Here are some cheaper products &mdash; why don't you donate the remaining 
    span $156 
    a(href='https://www.fashiondelivers.org/give-money.php') to something that matters

.filters
  .music
  ul

  #music
    iframe(src='https://embed.spotify.com/?uri=spotify:track:1CmUZGtH29Kx36C1Hleqlz', width='300', height='380', frameborder='0', allowtransparency='true')

#main

#infinite-load

#email.reveal-modal
  h1 Want Moar?
  p Hit up out fancy weekly newsletter, and we'll deliver some top quality goods straight to yo mailbox. You can unsubscribe any time : )
  input(type='text', placeholder='me@awesome.com')
  .send subscribe!
  a.close-reveal-modal &#215;