article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'Courier New', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 1px solid;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 1px solid;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 1px solid;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: Lato, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
#spin {
  display: none;
  height: 30px;
  position: absolute;
}
.toorich {
  display: none;
  line-height: 1.4em;
  font-weight: 400;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.toorich a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}
.toorich a:hover {
  border-bottom: 1px solid;
}
header {
  background: #dc314d;
  color: #fff;
  padding: 50px;
  text-align: center;
}
header.nordstrom {
  background: #919b9f url("/img/nordstrom.jpg") center top no-repeat;
}
header.nordstrom h1 {
  margin-top: 56px;
}
header h1 {
  font-weight: 300;
  font-size: 2.5em;
}
header input {
  text-align: center;
  background: none;
  border: none;
  width: 110px;
  font-family: Lato, sans-serif;
  color: #1c1c1c;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
header input:focus {
  outline: 0;
}
header .settings {
  background: url("/img/settings.png") no-repeat;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}
.filters {
  background: #1c1c1c;
  height: 60px;
  display: none;
  zoom: 1;
}
.filters:before,
.filters:after {
  content: "";
  display: table;
}
.filters:after {
  clear: both;
}
.filters ul {
  zoom: 1;
  margin: 0;
  padding: 0;
  padding: 14px 0;
}
.filters ul:before,
.filters ul:after {
  content: "";
  display: table;
}
.filters ul:after {
  clear: both;
}
.filters ul li {
  float: left;
  margin-right: 20px;
  list-style-type: none;
}
.filters ul li:last-child {
  margin-right: 0;
}
.filters ul li {
  color: rgba(255,255,255,0.7);
  background: rgba(0,0,0,0.25);
  padding: 6px 20px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  -ms-border-radius: 999px;
  border-radius: 999px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.filters ul li:hover {
  color: #dc314d;
}
.filters .music {
  width: 37px;
  height: 37px;
  background: url("/img/music.png") no-repeat;
  margin: 14px 0 0 30px;
  cursor: pointer;
  float: left;
  margin-right: 20px;
}
ul[data-liffect="fadeIn"] li {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: relative;
  -webkit-animation: fadeIn 500ms ease both;
  -webkit-animation-play-state: paused;
  -moz-animation: fadeIn 500ms ease both;
  -moz-animation-play-state: paused;
  -o-animation: fadeIn 500ms ease both;
  -o-animation-play-state: paused;
  -webkit-animation: fadeIn 500ms ease both;
  -moz-animation: fadeIn 500ms ease both;
  -o-animation: fadeIn 500ms ease both;
  -ms-animation: fadeIn 500ms ease both;
  animation: fadeIn 500ms ease both;
  animation-play-state: paused;
}
ul[data-liffect="fadeIn"].play li {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
#music {
  display: none;
  position: absolute;
}
#main {
  width: 100%;
}
#main div {
  position: relative;
}
#main div .price {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  text-align: center;
  font-size: 2.5em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
#main div .price p {
  margin-top: 21px;
}
#main div .social {
  position: absolute;
  left: 32px;
  bottom: 21px;
  zoom: 1;
  margin: 0;
  padding: 0;
}
#main div .social:before,
#main div .social:after {
  content: "";
  display: table;
}
#main div .social:after {
  clear: both;
}
#main div .social li {
  float: left;
  margin-right: 20px;
  list-style-type: none;
}
#main div .social li:last-child {
  margin-right: 0;
}
#main div .social li {
  width: 22px;
  height: 22px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#main div .social li.twitter {
  background: url("/img/twitta.png") no-repeat;
}
#main div .social li.fbook {
  background: url("/img/fb.png") no-repeat;
}
#main div .social li.pinterest {
  background: url("/img/pinterest.png") no-repeat;
}
#main div .social li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
#main div .social li a {
  width: 100%;
  height: 100%;
  display: block;
}
#main div img {
  border: none;
  display: block;
}
#main div:hover .price {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#main div:hover .social li {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height width;
  -moz-transition-property: height width;
  -o-transition-property: height width;
  -ms-transition-property: height width;
  transition-property: height width;
}
.isotope .isotope-item,
transition-property: transform,
opacity,
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
}
@-webkit-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
