@import '_settings'

normalize()
base()

#spin
  display: none
  height: 30px
  position: absolute

.toorich
  display: none
  line-height: 1.4em

  a
    font-weight: 700
    color: #fff
    text-decoration: none
    transition()
    hover-underline()
    padding-bottom: 2px

header
  background: #ea4645
  color: #fff
  padding: 50px
  text-align: center

  h1
    font-weight: 300
    fs: 2.5em

  input
    text-align: center
    background: none
    border: none
    width: 110px
    font-family: Lato, sans-serif
    color: #1c1c1c
    font-weight: 700
    -webkit-font-smoothing: antialiased

    &:focus
      outline: 0

  .settings
    bg: 'settings.png'
    size: 24
    text-indent: -9999px
    display: block
    absolute: top 15px right 15px