@import '_settings'

normalize()
base()

body
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);

#spin
  display: none
  height: 30px
  position: absolute

#infinite-load
  padding: 50px 0
  display: none

.toorich
  display: none
  line-height: 1.4em
  font-weight: 400
  opacity: .8

  a
    font-weight: 700
    color: #fff
    text-decoration: none
    transition()
    hover-underline()
    padding-bottom: 2px

header
  background: #dc314d
  color: #fff
  padding: 50px
  text-align: center

  &.nordstrom
    background: #919b9f url('/img/nordstrom.jpg') center top no-repeat

    h1
      margin-top: 56px

  h1
    font-weight: 300
    fs: 2.5em

  input
    text-align: center
    background: none
    border: none
    width: 110px
    font-family: Lato, sans-serif
    color: #1c1c1c
    font-weight: 700
    -webkit-font-smoothing: antialiased

    &:focus
      outline: 0

  .settings
    bg: 'settings.png'
    size: 24
    text-indent: -9999px
    display: block
    absolute: top 15px right 15px

    @media only screen and (max-width: 500px) {
      display: none
    }

  .mail
    bg: 'mail.png'
    size: 27
    text-indent: -9999px
    display: block
    absolute: top 15px left 15px
    opacity: .8

    @media only screen and (max-width: 500px) {
      display: none
    }

.filters
  background: #1c1c1c
  height: 60px
  display: none
  overflow: hidden

  ul
    inline-list()
    padding: 14px 0

    li
      color: rgba(255, 255, 255, .7)
      background: rgba(0, 0, 0, .25)
      padding: 6px 20px
      margin-bottom: 20px
      rounded()
      cursor: pointer
      transition()

      &:hover
        color: #dc314d

  .music
    size: 37
    bg: 'music.png'
    margin: 14px 0 0 30px
    cursor: pointer
    float: left
    margin-right: 20px

// list shuffle plugin
ul[data-liffect="fadeIn"] li
    opacity: 0
    position: relative
    -webkit-animation: fadeIn 500ms ease both
    -webkit-animation-play-state: paused
    -moz-animation: fadeIn 500ms ease both
    -moz-animation-play-state: paused
    -o-animation: fadeIn 500ms ease both
    -o-animation-play-state: paused
    animation: fadeIn 500ms ease both
    animation-play-state: paused

ul[data-liffect="fadeIn"].play li
    -webkit-animation-play-state: running
    -moz-animation-play-state: running
    -o-animation-play-state: running
    animation-play-state: running

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

// Music Player

#music
  display: none
  position: absolute
  
#main
  width: 100%

  div
    position: relative

    .price
      opacity: 0
      absolute: top 0 left 0
      transition()
      width: 100%
      height: 100%
      background: rgba(#000,.7)
      text-align: center
      fs: 2.5em
      color: #fff
      bold()
      cursor: pointer

      p
        margin-top: 21px

    .social
      absolute: left 32px bottom 21px
      inline-list()

      li
        size: 22
        opacity: 0
        
        &.twitter
          bg: 'twitta.png'

        &.fbook
          bg: 'fb.png'

        &.pinterest
          bg: 'pinterest.png'

        &:hover
          opacity: .9

        a
          width: 100%
          height: 100%
          display: block

    img
      border: none
      display: block

    &:hover .price
      opacity: 1

    &:hover .social li
      opacity: .6


// Isotope Filtering

.isotope-item
  z-index: 2

.isotope-hidden.isotope-item
  pointer-events: none
  z-index: 1

// Isotope CSS3 transitions

.isotope
.isotope .isotope-item
  transition-duration: 0.8s

.isotope
  transition-property: height, width

.isotope .isotope-item
transition-property: transform, opacity

// disabling Isotope CSS3 transitions

.isotope.no-transition
.isotope.no-transition .isotope-item
.isotope .isotope-item.no-transition
  transition-duration: 0s